{% extends "../../base.html" %} {% block head %} {% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
</div>
<div class="inputdiv">
    <form action="{{ request.path }}" method="get">
    <table class="inputtable">
        <tr>
            <td style="width: 100px;">
                类型：
            </td>
            <td style="width: 200px;">
                <select name="type">
                    <option value="0">全部类型</option>
                    {% for t in type %}
                    <option value="{{t['id']}}" {% if t['id'] == task['type'] %} selected{% end %}>{{t['name']}}</option>
                    {% end %}
                </select>
            </td>
            <td style="width: 100px;">
                用户名：
            </td>
            <td style="width: 200px;">
                <select name="userName">
                    <option value="0">全部用户</option>
                    {% for u in users %}
                    <option value="{{u['userName']}}" {% if u['userName'] == task['userName'] %} selected{% end %}>{{u['userRealName']}}</option>
                    {% end %}
                </select>
            </td>
            <td style="width: 100px;">
                状态：
            </td>
            <td>
                <select name="status">
                    <option value="0">全部状态</option>
                    {% for s in status %}
                    <option value="{{s['id']}}" {% if s['id'] == task['status'] %} selected{% end %}>{{s['name']}}</option>
                    {% end %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                开始时间：
            </td>
            <td>
                <input type="text" name="startDate" id="startDate" value="{{ str(task['startDate'])[0:10] }}" class="Wdate" onfocus="WdatePicker()" />
            </td>            
            <td>
                结束时间：
            </td>
            <td>
                <input type="text" name="endDate" id="endDate" value="{{ str(task['endDate'])[0:10] }}" class="Wdate" onfocus="WdatePicker()" />
            </td>
            <td style="text-align: right" colspan="2">
                <a href="{{siteDomain}}Admin/Task/Add?userName={{task['userName']}}" style="margin-right:20px;">创建非项目计划任务</a>
                <input type="submit" style="width:100px; height:26px;line-height:18px; cursor:pointer; margin-right:3px;" value="查询" />
            </td>
        </tr>
    </table>
    </form>
</div>
<div class="showdiv">
    <table class="showtable">
        <tr class="head">
            <td style="width:40px">
                编号
            </td>
            <td style="width:240px">
                任务名称
            </td>
            <td style="width:100px">
                负责人
            </td>
            <td style="width:150px">
                前置任务
            </td>
            <td style="width:80px">
                类型
            </td>
            <td style="width:80px">
                项目名称
            </td>
            <td style="width:50px">
                状态
            </td>
            <td style="width:40px">
                进度
            </td>
            <td style="width:80px">
                开始时间
            </td>
            <td style="width:50px">
                结束时间
            </td>
            <td style="width:70px">
                最后更新人
            </td>
            <td style="width:110px">
                最后更新时间
            </td>
            <td style="width:120px">
                操作
            </td>
        </tr>
        {% for r in pagedata['data'] %}
        <tr>
            <td>
                {{ r['id'] }}
            </td>
            <td title="{{ r['name'] }}">
                {{ r['name'] }}
            </td>
            <td>
                {{ r['userRealName'] }}({{ r['userName'] }})
            </td>
            <td>
                {{ r['typename'] }}
            </td>
            <td title="{{ r['preName'] }}">
                {{ r['preName'] }}
            </td>
            <td title="{{ r['projectName'] }}">
                {{ r['projectName'] }}
            </td>
            <td>
                {{ r['statusname'] }}
            </td>
            <td>
                {{ r['degree'] }}%
            </td>
            <td>
                {{ str(r['startDate'])[0:-9] }}
            </td>
            <td>
                {{ str(r['endDate'])[0:-9] }}
            </td>
            <td>
                {{ r['lastUpdater'] }}
            </td>
            <td>
                {{ str(r['lastUpdateTime'])[0:-3] }}
            </td>
            <td style="text-align: center;">
                {% if user == r['userName'] %}
                <a href="{{siteDomain}}Admin/Task/Edit?id={{ r['id'] }}">编辑</a>
                <a href="{{siteDomain}}Admin/Task/EditStatus?id={{ r['id'] }}">更新状态</a>
                {% if 1 != r['type'] %}
                <a href="javascript:" onclick="Task.del('{{r['id']}}')">删除</a>
                {% end %}
                {% end %}
            </td>
        </tr>
        {% end %}
    </table>
    {% raw pager %}
</div>
<script type="text/javascript" language="javascript">
    <!--
    var Task = {
        del: function (id) {
            if (!confirm("确定删除该记录吗？")) return false;

            $.post('/Admin/Task/Del', { 'id': id , 'ajax': 'ajax'},
                 function (data) {
                     if (0 == data.code) {
                         Common.alert('操作成功', window.location.href);
                     } else {
                         Common.alert('操作失败,'+data.msg);
                     }
                 }, "json");
        }
    };
    //-->
</script>
{% end %}