{% extends "../../base.html" %} {% block head %} {% end %} {% block body %}
<div class="titlediv">
    <h1>
        {{ title }}</h1>
</div>
<div class="inputdiv">
    <table class="inputtable">
        <tr>
            <td style="width: 100px;">
                项目：
            </td>
            <td>
                <select id="projects" name="projects">
                    {% for project in projects %}
                    <option value="{{ project['id'] }}" {% if projectID == project['id'] %} selected {% end %}>{{ project['name']}}</option>
                    {% end %}
                </select>
            </td>
        </tr>
    </table>
    <form action="{{ request.path }}" method="post">
        <input type="hidden" id="taskCount" name="taskCount">
        <input type="hidden" id="projectID" name="projectID" value="{{projectID}}" /> 
        <table style="width:100%;">
            <tr>
                <td style="width:700px;">
                    <table class="tasktable" id="tasktable">
                        <tr class="head">
                            <td style="width:15px;">
                            </td>
                            <td style="width:185px; text-align: center;">
                               任务<span class="red">*</span>
                            </td>
                            <td style="width:30px; text-align: center;">
                                工期
                            </td>
                            <td style="width:68px; text-align: center;">
                                开始日期<span class="red">*</span>
                            </td>
                            <td style="width:68px; text-align: center;">
                                结束日期<span class="red">*</span>
                            </td>
                            <td style="width:30px; text-align: center;">
                                前置
                            </td>
                            <td style="width:50px; text-align: center;">
                                完成度
                            </td>
                            <td style="width:80px; text-align: center;">
                                负责人<span class="red">*</span>
                            </td>
                            <td style="width:60px; text-align: center;">
                                参与人
                            </td>
                            <td style="width:135px; text-align: center;">    操作
                            </td>
                        </tr>
                        {% for task in tasks %}
                        <tr>
                            <td id="num">
                                {{ task['sort'] }}
                            </td>
                            <td>
                                {% set taskwidth = 150 if (15 * (task['level'] - 2)) <= 0 else (150 - (15 * (task['level'] - 2))) %}
                               <span>{% for i in range(1, task['level']) %}▇▇{%end%}</span><input type="text" id="task" style="width:{{taskwidth}}px;" value="{{ task['name']}}" />
                               <input type="hidden" id="level" value="{{task['level']}}" />
                               <input type="hidden" id="parentID" value="0" />
                               <input type="hidden" id="status" value="{{task['status']}}" />
                               <input type="hidden" id="taskID" value="{{task['id']}}" />
                            </td>
                            <td>
                                <input type="text" style="width:18px;" id="date" value="{{task['date']}}" />
                            </td>
                            <td>
                                <input type="text" style="width:68px;" onfocus="WdatePicker()" id="startDate" value="{{task['startDate']}}" /> 
                            </td>
                            <td>
                                <input type="text" style="width:68px;" onfocus="WdatePicker()" id="endDate" value="{{task['endDate']}}" /><!--   class="Wdate" -->
                            </td>
                            <td>
                                <input type="text" style="width:18px;" id="pre" value="{{task['preindex']}}" /> 
                            </td>
                            <td>
                                <input type="text" style="width:18px;" id="degree" value="{{task['degree']}}" />&nbsp;%
                            </td>
                            <td>
                                <select id="user">
                                    {% for user in users %}
                                    {% if user['userName'] == task['userName'] %}
                                    <option value="{{user['userName']}}" selected>{{user['userRealName']}}</option>
                                    {% else %}
                                    <option value="{{user['userName']}}">{{user['userRealName']}}</option>
                                    {% end %}
                                    {% end %}
                                </select>
                            </td>
                            <td>
                                <input type="text" style="width:55px;" id="users" value="{{task['users']}}" /> 
                            </td>
                            <td>
                                <a id="oper_up" href="javascript:;">上</a>
                                <a id="oper_down" href="javascript:;">下</a>
                                <a id="oper_left" href="javascript:;">左</a>
                                <a id="oper_right" href="javascript:;">右</a>
                                <a id="oper_insert" href="javascript:;">增</a>
                                <a id="oper_del" href="javascript:;">删</a>
                            </td>
                        </tr>
                        {% end %}
                    </table>
                </td>
                <td align="left" valign="top">
                    <!-- <table class="dateviewtable" id="dateviewtable">
                        <tr class="head">
                            <td colspan="5">06</td>
                        <tr>
                        <tr class="head">
                            <td>06</td>
                            <td>07</td>
                            <td>08</td>
                            <td>09</td>
                            <td>10</td>
                        <tr>
                    </table> -->
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:120px; height:40px; text-align: left;">
                <input type="submit" style="width:100px; height:30px;line-height:18px; cursor:pointer; margin-right:3px;" value="提交" />
                <input type="button" style="width:100px; height:30px;line-height:18px; cursor:pointer; margin-right:3px;" onclick="window.history.go(-1);" value="返回" />
            </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" language="javascript">
    <!--
    var Task = {
            initTaskTable : function(){
                var lastLevel = 1;
                var ids = new Array();

                $('#tasktable tr').each(function(index){
                    if(index <= 0){
                        ids.push(0);
                        return;
                    }
                    this.id = 'task_'+index;
                    var t = $(this);
                    t.find('#num').html(index);
                    var level = parseInt(t.find('#level').val());
                    while(true){
                        if(lastLevel < (level - 1) && level > 1){
                            level = level - 1;
                            Task.operLeft(index, false);
                        }else{
                            break;
                        }
                    }
                    lastLevel = level;
                    ids.push(level);

                    var task = t.find('#task');
                    task.attr('name', 'task_'+index);
                    t.find('#level').attr('name', 'level_'+index);
                    t.find('#date').attr('name', 'date_'+index).unbind('blur').bind('blur',function(){
                        Task.blurDate(index);
                    });
                    t.find('#startDate').attr('name', 'startDate_'+index).unbind('blur').bind('blur',function(){
                        Task.blurStartDate(index);
                    });
                    t.find('#endDate').attr('name', 'endDate_'+index).unbind('blur').bind('blur',function(){
                        Task.blurEndDate(index);
                    });
                    t.find('#pre').attr('name', 'pre_'+index).unbind('blur').bind('blur',function(){
                        Task.blurPre(index);
                    });
                    t.find('#degree').attr('name', 'degree_'+index).unbind('blur').bind('blur',function(){
                        Task.blurDegree(index);
                    });;
                    t.find('#user').attr('name', 'user_'+index);                    
                    t.find('#users').attr('name', 'users_'+index);
                    t.find('#status').attr('name', 'status_'+index);
                    t.find('#taskID').attr('name', 'taskID_'+index);

                    var parentID = 0;
                    if(level > 1){
                        var findLevel = level - 1;
                        var lastIndex = 0;
                        for(var i = 0; i < ids.length; i++){
                            if(ids[i] == findLevel){
                                lastIndex = i;
                            }
                        }
                        parentID = lastIndex;
                    }
                    t.find('#parentID').attr('name', 'parentID_'+index).val(parentID);


                    t.find('#oper_up').unbind('click').bind('click',function(){
                        Task.operUp(index);
                    });
                    t.find('#oper_down').unbind('click').bind('click',function(){
                        Task.operDown(index);
                    });
                    t.find('#oper_left').unbind('click').bind('click',function(){
                        Task.operLeft(index, true);
                    });
                    t.find('#oper_right').unbind('click').bind('click',function(){
                        Task.operRight(index);
                    });
                    t.find('#oper_insert').unbind('click').bind('click',function(){
                        Task.operInsert(index);
                    });
                    t.find('#oper_del').unbind('click').bind('click',function(){
                        Task.operDel(index);
                    });
                });
                $('#taskCount').val($('#tasktable tr').length - 1);

            },
            operUp: function(index){
                //上移一行
                if(index == 1){
                    Common.alert('该任务已经到达第一位');
                    return;
                }
                var html = $('#task_'+index).html();
                var before = index - 1;
                $('#task_'+before).before('<tr>'+html+'</tr>');
                $('#task_'+index).remove();
                Task.initTaskTable();
            },
            operDown: function(index){
                //下移一行
                if(index == ($('#tasktable tr').length - 1)) {
                    Common.alert('该任务已经到达最末位');
                    return;
                }
                var html = $('#task_'+index).html();
                var after = index + 1;
                $('#task_'+after).after('<tr>'+html+'</tr>');
                $('#task_'+index).remove();
                Task.initTaskTable();
            },
            operLeft: function(index, isInit){
                //左移，提高级别
                var t = $('#task_'+index);
                var level = parseInt(t.find('#level').val());
                if(level == 1){
                    Common.alert('该任务已经是最高级别。');
                    return;
                }
                var text = t.find('span').text();
                var span = text.substr(2);
                level = level - 1;
                var width = (15 * (level - 2));
                width = width > 0 ? (150 - width) : 150;

                t.find('#level').val(level);
                t.find('span').text(span);
                t.find('#task').attr('style', 'width:'+width+'px;');

                if(isInit){
                    Task.initTaskTable();
                }
            },
            operRight: function(index){
                //右移，降低级别
                if(index == 1){
                    Common.alert('第一个任务必须是最高级别');
                    return;
                }
                var t = $('#task_'+index);
                var level = parseInt(t.find('#level').val());
                var pre = index - 1;
                var prelevel = parseInt($('#task_'+pre).find('#level').val());
                if(level > prelevel){
                    Common.alert('该任务已经是上一个任务的下一级，不能再降级');
                    return;
                }
                if(level >= 8){
                    Common.alert('任务等级最多到第 8 级');
                    return;
                }
                var text = t.find('span').text();
                var span = text + '▇▇';
                level = level + 1;
                var width = (15 * (level - 2));
                width = width > 0 ? (150 - width) : 150;

                t.find('#level').val(level);
                t.find('span').text(span);
                t.find('#task').attr('style', 'width:'+width+'px;');

                Task.initTaskTable();
            },
            operInsert: function(index){
                var t = $('#task_'+index);
                var status = t.find('#status');
                var taskID = t.find('#taskID');
                var degree = t.find('#degree');

                var oldStatus = status.val();
                var oldTaskID = taskID.val();
                var oldDegree = degree.val();

                status.val('0');
                taskID.val('0');
                degree.val('0');

                var html = t.html();                
                $('#task_'+index).after('<tr>'+html+'</tr>');
                status.val(oldStatus);
                taskID.val(oldTaskID);
                degree.val(oldDegree);
                
                Task.initTaskTable();
            },
            operDel: function(index){
                if($('#tasktable tr').length <= 2) {
                    Common.alert('最后一个任务不允许删除');
                    return;
                }
                if(!Common.confirm('您是否确定删除第 '+index+' 行？')){
                    return;
                }
                $('#task_'+index).remove();
                Task.initTaskTable();
            },


            blurDate: function(index){
                var t = $('#task_'+index);
                var d = t.find('#date');
                var val = d.val();
                if(val == ''){
                    return;
                }
                var date = parseInt(val);
                if(isNaN(date) || date < 1){
                    Common.alert('工期请输入自然数。');
                    d.val('');
                    return;
                }

                var start = t.find('#startDate').val();
                if(start != ''){
                    var endDate = DateTime.getDateToStr(
                                    DateTime.getWorkDayCountDate(start, date));
                    t.find('#endDate').val(endDate);

                    Task.blurEndDate(index);
                    return;
                }

            },
            blurStartDate: function(index){
                var t = $('#task_'+index);
                var d = t.find('#startDate');
                var val = d.val();

                //检查与前置任务结束日期是否相同
                var per = parseInt(t.find('#pre').val());                
                if(!isNaN(per) && per > 0){
                    var preEndDate = $('#task_'+per).find('#endDate').val();
                    preEndDate =  DateTime.getDateToStr(
                                    DateTime.getWorkDayCountDate(preEndDate, 2));
                    if(preEndDate != val){
                        Common.alert('开始日期与前置任务的结束日期不同');
                        d.val(preEndDate);
                        return;
                    }
                }

                if(val == ''){                    
                    return;
                }

                var date = parseInt(t.find('#date').val());
                if(!isNaN(date) && date > 0){
                    t.find('#endDate').val(DateTime.getDateToStr(DateTime.getWorkDayCountDate(val, parseInt(date))));
                    Task.blurEndDate(index);
                }else{
                    var end = t.find('#endDate').val();
                    if(end != ''){
                        t.find('#date').val(DateTime.diffDateCount(val, end + ' 01:00', true));
                    }
                }
            },
            blurEndDate: function(index){
                var t = $('#task_'+index);
                var d = t.find('#endDate');
                var val = d.val();
                if(val == ''){                    
                    return;
                }

                var start = t.find('#startDate').val();
                if(start != ''){
                    var date = DateTime.diffDateCount(start, val + ' 01:00', true);
                    if(date <= 0){
                        Common.alert('结束日期需要在开始日期之后。');
                        d.val('');
                        return;
                    }
                    t.find('#date').val(date);
                }

                //设置前置任务为该ID的任务的开始日期
                var startDate = DateTime.getDateToStr(
                                    DateTime.getWorkDayCountDate(val, 2));                
                $('#tasktable tr').each(function(i){
                    if(i <= 0){
                        return;
                    }
                    var pre = parseInt($(this).find('#pre').val());
                    if(pre == index){
                        $(this).find('#startDate').val(startDate);
                        Task.blurStartDate(i);
                    }
                });
            },            
            blurPre: function(index){
                var t = $('#task_'+index);
                var p = t.find('#pre');
                var val = p.val();
                if (val == ''){                    
                    return;
                }
                var pre = parseInt(val);
                if(isNaN(pre) || pre < 0 || pre == index || pre >= $('#tasktable tr').length){
                    Common.alert('前置任务请输入任务编号，且不能是自己。');
                    p.val('');
                    return;
                }
                if(pre == 0){
                    return;
                }

                //赋值前置任务的结束日期到开始日期
                var pret = $('#task_'+val);
                var preEnd = pret.find('#endDate').val();
                var startDate = DateTime.getDateToStr(
                                    DateTime.getWorkDayCountDate(preEnd, 2));
                t.find('#startDate').val(startDate);

                Task.blurStartDate(index);//设置该行日期
            },
            blurDegree: function(index){
                var t = $('#task_'+index);
                var d = t.find('#degree');
                var val = d.val();
                if(val == ''){
                    d.val('0');
                    return;
                }
                var degree = parseInt(val);
                if(isNaN(degree) || degree < 0 || degree > 100 || degree.toString() != val){
                    Common.alert('任务完成度，必须是0-100的数字');
                    d.val('0');
                    return;
                }
            }
        };

    $(document).ready(function () {
        Task.initTaskTable();
        $('#projects').bind('change', function(){
            window.location.href = '{{siteDomain}}Admin/Task/Edits?projectID='+
                $('#projects').val()+'&random='+Math.random();
        });
    });
    
    //-->
</script>
{% end %}